.row-fluid.margin-t
  .span4.offset1
    .logobox
      %h1 Shitta
  .span6
    %h2 Shittaは、Qiita <del>をパクった</del> にインスパイアされたエンジニアのための社内用技術情報共有サービスです。
    .margin-t
      = link_to "Sign in", signin_path, class: 'btn btn-large btn-primary'
      = link_to "Sign up", signup_path, class: 'btn btn-large'
