.row.margin-t
  .col-md-4.col-md-offset-1
    .logobox
      %h1 Shitta
  -# TODO Fix
  .col-md-6
    %h2.impact-text Shittaは、Qiita <del>をパクった</del> にインスパイアされたエンジニアのための社内用技術情報共有サービスです。
    .margin-t
      = link_to "Sign in", signin_path, class: 'btn btn-lg btn-primary'
      = link_to "Sign up", signup_path, class: 'btn btn-default btn-lg'
