- content_for :sidebar do
  %div
    = link_to 'Post Note', new_note_path, class: 'btn btn-lg btn-primary btn-block'
  %div.margin-t
    %h3 Tags
    = render partial: 'tags', object: @tags
  %div.margin-t
    %h3 TODO
    %ul
      %li helpページ
      %li previewが必要
      %li noteの定期な下書き保存
      %li 僕のやる気
%h1.hidden Notes Feed
.note-summaries.margin-t
  = render @notes
= paginate @notes
