- content_for :sidebar do
  = link_to 'Post Note', new_note_path, class: 'btn btn-block btn-primary btn-large btn-large-font'
%h1.title.shadow-line Notes Feed
%ul.margin-t.media-list
  = render @notes
