- content_for :highlight do
  = stylesheet_link_tag "syntax", :media => "all"

%h1.shadow-line= @note.title
= markdown @note.raw_body
= link_to 'Edit', edit_note_path(@note), class: 'btn btn-block btn-primary btn-large btn-large-font'
