#!/usr/bin/sh

SHITTA_DATABASE_URL="localhost"
SHITTA_DATABASE_USER="user"
SHITTA_DATABASE_PASSWORD="password"
SHITTA_SMTP_URL="localhost"
SHITTA_SMTP_PORT=587
SHITTA_SMTP_DOMAIN="example.com"
SHITTA_SMTP_USER="user"
SHITTA_SMTP_PASSWORD="password"
SHITTA_MAIL_HOST="localhost"
SHITTA_HIPCHAT_API_TOKEN="abc"
SHITTA_HIPCHAT_ROOM="sample"
