$white: #f7f7f7;
$pink: #d64e80;
$blue: #cbf2ff;
$darkPink: #c22d64;
// 70% white
$baseColor: #f7f7f7;
$baseDarkColor: #f1f1f1;
// 25% dark red
$mainColor: #ca475c;
$mainDarkColor: #c90022;
// 5% dark blue
$accentColor: #cbf2ff;
$accentDarkColor: #cbf2ff;
$subAccentColor: #f7f7f7;
$subAccentDarkColor: #d7d7d7;
// gray
$mainTextColor: #333;
// darkgray
$subTextColor: #222;

@mixin margin-tbase {
  margin-top: 20px;
}
@mixin margin-bbase {
  margin-bottom: 20px;
}
@mixin margin-bmbase {
  margin-bottom: 10px;
}
@mixin webfont {
  font-family: 'Vegur-Regular';
  font-weight: 200;
}
@mixin webfont-light {
  font-family: 'Vegur-Light';
  font-weight: 200;
}
@mixin webfont-bold {
  font-family: 'Vegur-Bold';
  font-weight: 200;
}
@mixin font-xlarge {
  font-size: 20px;
}
@mixin font-large {
  font-size: 17px;
}
@mixin font-middle {
  font-size: 14px;
}
