$white: #fefefe;
//$gray: #eee;
//$gray: #e1e1e1;
//$gray: #f7f5f3;
$gray: #777;
//$blue: #155399;
//$blue: #4682b4;
//$darkPink: #c90022;
//$darkPink: #c22d64;

// 70% white
$baseColor: #f9f9f9;
$baseDarkColor: #ddd;
// 25% dark red
$mainColor: #ca475c;
$mainDarkColor: #ac3245;
// 5% dark blue
$accentColor: #155399;
$accentDarkColor: #165e83;
$subAccentColor: #f7f7f7;
$subAccentDarkColor: #ddd;
// gray
$mainTextColor: #444;
// darkgray
$subTextColor: #666;

// Twitter Bootstrap
$brand-primary: $mainColor;
$body-bg: $baseColor;
$navbar-height: 40px;
$navbar-default-color: $subAccentColor;
$navbar-default-bg: $white;
$navbar-default-link-color: $mainColor;
$navbar-default-link-active-color: $mainDarkColor;
$navbar-default-link-hover-color: $mainDarkColor;

@mixin margin-tbase {
  margin-top: 20px;
}
@mixin margin-bbase {
  margin-bottom: 20px;
}
@mixin margin-bmbase {
  margin-bottom: 10px;
}
@mixin webfont {
  font-family: 'Vegur-Regular';
  font-weight: 200;
}
@mixin webfont-light {
  font-family: 'Vegur-Light';
  font-weight: 200;
}
@mixin webfont-bold {
  font-family: 'Vegur-Bold';
  font-weight: 200;
}
@mixin font-xlarge {
  font-size: 20px;
}
@mixin font-large {
  font-size: 17px;
}
@mixin font-middle {
  font-size: 14px;
}
