@import '_variables';

@font-face {
  font-family: 'Vegur-Regular';
  src: url(font-path('Vegur-Regular.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Light';
  src: url(font-path('Vegur-Light.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Bold';
  src: url(font-path('Vegur-Bold.otf')) format('opentype');
}
body {
  line-height: 1.3em;
  //font: 13.34px Helvetica, arial, freesans, clean, sans-serif;
}
h1 {
  //font-size: 32px;
  font-size: 26px;
}
h2 {
  //font-size: 24px;
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5, h6 {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  line-height: 1.3em;
}
.logo {
  img {
    position: absolute;
    top: 6px;
    width: 28px;
    height: 28px;
  }
  h1 {
    display: inline-block;
    font-size: 18px;
    padding-left: 33px;
    margin-bottom: 0px;
    line-height: 20px;
  }
}
#container {
  width: 980px;
  margin: 0 auto;
}
#main {
  overflow: hidden;
}
.hidden {
  display: none;
}
.margin-t {
  @include margin-tbase;
}
.margin-bm {
  @include margin-bmbase;
}
.title {
  @include webfont;
  font-size: 30px;
}
.impact-text {
  font-weight: bold;
}
/*.shadow-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
}*/
.navbar-nav .current-user {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
}
.user-img {
  width: 60px;
  height: 60px;
}
.user-img-s {
  width: 28px;
  height: 28px;
}
.user-name {
  a {
    display: inline-block;
    color: $accentColor;
    font-weight: bold;
    @include font-large;
  }
  a:focus, a:hover {
    color: $accentDarkColor;
  }
}
.message {
  margin-bottom: 10px;
  padding: 5px 0px;
}
.tags {
  margin-bottom: 20px;
  a.tag {
    padding: 5px;
    border: 1px solid $baseDarkColor;
    background: $white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 3px;
  }
  a {
    color: $accentColor;
  }
  a:focus, a:hover {
    color: $accentDarkColor;
  }

}
