@import 'variables';

.navbar-inverse .navbar-inner {
  background-image: url(image-path('bg2.png'));
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: $white;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  background-color: $navbarActiveColor;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a:focus {
  color: $darkPink;
}
.navbar-inverse .navbar-link {
  color: $white;
}
.navbar-inverse .navbar-link:hover, 
.navbar-inverse .navbar-link:focus {
  color: $darkPink;
  text-decoration: none;
}
.dropdown a {
  color: $white;
  text-decoration: none;
}
.dropdown li > a:hover,
.dropdown li > a:hover {
  color: $white;
  text-decoration: none;

}
// original 
@font-face {
  font-family: 'Vegur-Regular';
  src: url(font-path('Vegur-Regular.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Light';
  src: url(font-path('Vegur-Light.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Bold';
  src: url(font-path('Vegur-Bold.otf')) format('opentype');
}
body {
  background: $white url(image-path('bg.png')) repeat;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 27px;
}
h3 {
  font-size: 22px;
}
#container {
  width: 980px;
  margin: 0 auto;
  margin-top: 40px;
}
.brand {
  @include webfont-bold;
}

.navbar-text .dropdown {
  display: inline;
}
.hidden {
  display: none;
}
.margin-t {
  @include margin-tbase;
}
.margin-bm {
  @include margin-bmbase;
}
.title {
  @include webfont;
  font-size: 30px;
}
.btn-large-font {
  @include webfont;
  @include font-xlarge;
}
.shadow-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
}
.user-img {
  width: 45px;
  height: 45px;
}
.user-img-s {
  width: 28px;
  height: 28px;
  margin-right: 3px;
}
.user-name a {
  color: $mainTextColor;
  font-family: bold;
  @include font-large;
}
.user-name a:focus,
.user-name a:hover {
  color: $darkPink;
}
