@import '_variables';

@font-face {
  font-family: 'Vegur-Regular';
  src: url(font-path('Vegur-Regular.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Light';
  src: url(font-path('Vegur-Light.otf')) format('opentype');
}
@font-face {
  font-family: 'Vegur-Bold';
  src: url(font-path('Vegur-Bold.otf')) format('opentype');
}
body {
  line-height: 1.3em;
  //font: 13.34px Helvetica, arial, freesans, clean, sans-serif;
}
h1 {
  margin-top: 0px;
  font-size: 32px;
}
h2 {
  margin-top: 0px;
  font-size: 24px;
}
h3 {
  margin-top: 0px;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}
#container {
  width: 980px;
  margin: 0 auto;
}
#main {
  overflow: hidden;
}
.hidden {
  display: none;
}
.margin-t {
  @include margin-tbase;
}
.margin-bm {
  @include margin-bmbase;
}
.title {
  @include webfont;
  font-size: 30px;
}
.impact-text {
  font-weight: bold;
}
/*.shadow-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: white 0 1px 0;
  -moz-box-shadow: white 0 1px 0;
  -webkit-box-shadow: white 0 1px 0;
}*/
.navbar-nav .current-user {
  padding-top: 6px;
  padding-bottom: 6px;
}
.user-img {
  width: 60px;
  height: 60px;
}
.user-img-s {
  width: 28px;
  height: 28px;
}
.user-name a {
  color: $mainTextColor;
  font-weight: bold;
  @include font-large;
}
.user-name a:focus,
.user-name a:hover {
  color: $darkPink;
}
.message {
  margin-bottom: 10px;
  padding: 5px 0px;
}
.tags {
  margin-bottom: 20px;
  a.tag {
    padding: 5px;
    border: 1px solid #aaa;
    background: #ccc;
    color: #666;
    margin-right: 3px;
  }
}
