@import '_variables';

// index
.media h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 25px;
}
.note-summaries {
  padding-left: 15px;
}
.note-summary {
  position: relative;
  background: $white;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 1em;
  border: 1px solid $baseDarkColor;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  //border-bottom: 1px solid #eee;
  //border-right: 1px solid #eee;
  //border-left: 1px solid #fff;
  .note-summary-user {
    display: block;
    left: -15px;
    top: -20px;
    position: absolute;
  }
  .note-summary-meta {
    padding: 12px 10px 12px 52px;
  }
  .user-name {
    display: block;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    a {
      display: block;
      padding: 5px 20px 10px 20px;
      color: $mainTextColor;
    }
    a:hover {
      color: $mainColor;
    }
  }
  .tags {
    margin-bottom: 5px;
    padding: 5px 20px 10px 20px;
    a.tag {
      background: $baseColor;
      border: none;
    }
  }
}
// show
.note, .comments {
  font-size: 15px;
  line-height: 1.6em;
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-weight: bold;
    padding-bottom: 0.3em;
    border-bottom: 1px solid $baseDarkColor;
  }
  h2, h3, h4, h5, h6 {
    margin-top: 1em;
  }
  h1 {
    font-size: 26px;
  }
  h2 {
    font-size: 22px;
  }
  p, ul {
    margin: 0 0 16px 0;
  }
  li {
    line-height: 1.7em;
  }
}
.code-container {
  border: 1px solid $baseDarkColor;
  margin: 0 0 16px;

  .code-title {
    border-bottom: 1px solid $baseDarkColor;
    padding: 5px 15px;
    font-weight: bold;
    color: $subAccentColor;
    background: $gray;
  }
  .code-main {
    overflow: auto;
  }
  pre {
    margin: 0 0;
    border: none;
    white-space: pre;
    background: $white;
  }
  .linenos {
    border-right: 1px solid $baseDarkColor;
  }
  .linenos pre {
    padding-left: 7.5px;
    padding-right: 7.5px;
    word-break: normal;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  .code {
    font: 12px Consolas, "Liberation Mono", Courier, monospace;
    width: 100%;
  }
}
.comment {
  @include margin-tbase;
  padding-bottom: 0.3em;
  border-bottom: 1px solid $baseDarkColor;
  .comment-meta {
    img {
      margin-right: 3px;
    }
  }
  .comment-body {
    margin-top: 5px;
    padding: 0 10px;
    padding-bottom: 0;
  }
  .comment-options {
    float: right;
  }
}
#dummy_favorited {
  display: none;
}
#favorited {
  display: flex;
  flex-wrap: wrap;
}
.favorited-user {
  position: relative;
  display:inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  overflow: hidden;
  .favorite-point {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 28px;
    height: 10px;
    //background-color:rgba(0, 0, 0, 0.8);
    background-color: $mainColor;
    color: $subAccentColor;
    text-align: center;
    padding: 0;
    line-height: 1.0em;
    font-size: 10px;
    opacity: 0.8;
    @include webfont-light;
  }
}
// custom bootstrap-tagsinput
.bootstrap-tagsinput {
  width: 100%;
  padding: 6px 12px;
  ::-webkit-input-placeholder { color: #777 }
  :-moz-placeholder { color: #777 }
  .label-info {
    background-color: $gray;
  }
  .label {
    font-weight: normal;
    font-size: 14px;
  }
  .tag [data-role="remove"]:hover,
  .tag [data-role="remove"]:hover:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}
.typeahead.dropdown-menu {
  .active a {
    background-color: $baseColor;
    color: $mainTextColor;
  }
}
