// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_variables';

.media h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 25px;
}
.code-container {
  border: 1px solid #ccc;
  margin: 0 0 10px;

  .code-title {
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
    font-weight: bold;
    color: #f7f7f7;
    background-image: url(image-path('bg2.png'));
  }
  pre {
    margin: 0 0;
    border: none;
  }
  .linenos {
    border-right: 1px solid #ccc;
  }
  .linenos pre, {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  .code {
    width: 100%;
  }
}
.comment {
  @include margin-tbase;
  .comment_body {
    padding: 10px;
    padding-bottom: 0;
  }
}
