// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import '_variables';

.media h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 25px;
  font-size: 25px;
}
textarea#note_raw_body {
    height: 500px;
}
.note, .comments {
  font-size: 15px;
  line-height: 1.7;
  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 15px;
  }
  p {
    margin: 15px 0;
  }
  li {
    line-height: 1.7;
  }
}
.code-container {
  border: 1px solid #ccc;
  margin: 0 0 10px;

  .code-title {
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
    font-weight: bold;
    color: #f7f7f7;
    background-image: url(image-path('bg2.png'));
  }
  .code-main {
    overflow: auto;
  }
  pre {
    margin: 0 0;
    border: none;
    white-space: pre;
  }
  .linenos {
    border-right: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  .linenos pre {
    padding-left: 7.5px;
    padding-right: 7.5px;
    word-break: normal;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
  }
  .code {
    font: 12px Consolas, "Liberation Mono", Courier, monospace;
    width: 100%;
    background-color: #f5f5f5;
  }
}
.comment {
  @include margin-tbase;
  .comment-body {
    padding: 0 10px;
    padding-bottom: 0;
  }
  .comment-options {
    float: right;
  }
}
#dummy_favorited {
  display: none;
}
#favorited {
  display: flex;
  flex-wrap: wrap;
}
.favorited-user {
  position: relative;
  display:inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  border: 3px solid #df769c;
  overflow: hidden;
  img {
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    border-radius: 75px;
  }
  .favorite-point {
    position: absolute;
    top: 19px;
    width: 28px;
    height: 10px;
    background-color:rgba(0, 0, 0, 0.7);
    color: #efefef;
    text-align: center;
    padding: 0;
    line-height: 1.2em;
    font-size: 8px;
  }
}

