- content_for :content do
  .row-fluid.margin-t
    #main.span9
      .row-fluid
        = yield
    #sidebar.span3
      - if content_for?(:sidebar)
        = yield(:sidebar)
= render template: 'layouts/application'
