- content_for :content do
  .row-fluid.margin-t
    #sidebar.span3
      .row-fluid
        = image_tag current_user.avatar_url, class: 'margin-bm'
        %p.profile-username= current_user.username
    #main.span9
      .row-fluid
        = yield
= render template: 'layouts/application'
