- content_for :content do
  .row.margin-t
    #sidebar.col-md-3
      = image_tag user.avatar_url, class: 'margin-bm img-thumbnail'
      %p.profile-username= user.username
    #main.col-md-9
      = yield
= render template: 'layouts/application'
